---
---

<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />

    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="shortcut icon" href="/assets/images/share.jpeg" />
    <!-- Social share meta tags -->
    <meta property="og:title" content="Blog - T.H.Arjun" />
    <meta
      property="og:description"
      content="T.H.Arjun is a UG2 Research Student @ IIIT-H who loves to code, develop, paint and design."
    />
    <meta property="og:type" content="website" />
    <meta property="og:image" content="/assets/images/share.jpeg" />
    <meta property="og:site_name" content="T.H.Arjun" />
    <meta name="twitter:card" content="summary_large_image" />
    <meta name="twitter:title" content="T.H.Arjun" />
    <meta
      name="twitter:description"
      content="T.H.Arjun is a UG2 Research Student @ IIIT-H who loves to code, develop, paint and design."
    />
    <meta name="twitter:image:src" content="/assets/images/share.jpeg" />
    <!-- End social share meta tags -->
    <link rel="stylesheet" href="/assets/css/reset.css" />
    <link rel="stylesheet" href="/assets/css/grid.css" />
    <link rel="stylesheet" href="/assets/css/blog.css" />
    <link rel="stylesheet" href="/assets/css/post.css" />

    <title>Blog - T.H.Arjun</title>
    <meta
      name="description"
      content="T.H.Arjun is a UG2 Research Student @ IIIT-H who loves to code, develop, paint and design."
    />
  </head>
  <body class="dark">
    <section class="basic">
      <section class="navigation">
        <div class="container">
          <div class="row">
            <div class="col-3 col-4-sm">
              <li>
                <a href="/index.html" title="Home" class="type-white"
                  >T.H.Arjun</a
                >
              </li>
            </div>
            <div class="col-9 col-8-sm align-r">
              <li>
                <a href="/work.html" title="Work" class="type-white">Work</a>
              </li>
              <li>
                <a href="/art.html" title="Art" class="type-white">Art</a>
              </li>
              <li>
                <a href="/blog" title="Blog" class="type-white">Blog</a>
              </li>
            </div>
          </div>
        </div>
      </section>
    </section>
    <div class="insider">
      <div class="body body--sub">
        <div
          class="body__section body__section--case-study-items body__section--fade-up"
        >
          {% for post in paginator.posts %}
          <a
            href="{{post.url}}"
            class="case-study-item case-study-item--hover case-study-item--"
            ><div class="case-study-item__img">
              <div class="case-study-item__img__image">
                {% if post.image %}
                <img src="{{post.image}}" alt="" aria-label="Read More" />
                {% else %}
                <video
                  muted="muted"
                  autoplay="autoplay"
                  loop="loop"
                  playsinline=""
                >
                  <source src="{{post.video}}" type="video/mp4" />
                </video>
                {% endif %}
              </div>
            </div>
            <div class="case-study-item__data">
              <div class="case-study-item__data--content">
                <div class="case-study-item__meta type-white">
                  <span>{{ post.date | date_to_string }}</span>
                </div>
                <div class="case-study-item__copy">
                  <h2>{{ post.title }}</h2>
                  <p>{{post.description}}</p>
                </div>
              </div>
            </div></a
          >
          {% endfor %}
        </div>
      </div>
    </div>
    {% if paginator.total_pages > 1 %}
    <div class="insider">
      <footer>
        <div class="footer__content">
          <span class="copyright">
            {% if paginator.previous_page %}
            <a
              class="l"
              href="{{ paginator.previous_page_path }}"
              aria-label="Prev"
              >Prev</a
            >
            {% endif %} {% if paginator.next_page %}
            <a class="l" href="{{ paginator.next_page_path }}" aria-label="Next"
              >Next</a
            >
            {% endif %}
          </span>
        </div>
      </footer>
    </div>
    {% endif %}
    <section class="basic">
      <div class="container">
        <div class="row">
          <div class="col-2">
            <li>
              <a
                href="mailto:arjun.thekoot@research.iiit.ac.in"
                title="Email"
                target="_blank"
                class="type-white"
                >Email</a
              >
            </li>
            <li>
              <a
                href="mailto:arjunth2001@gmail.com"
                title="Email"
                target="_blank"
                class="type-white"
                >Gmail</a
              >
            </li>
          </div>
          <div class="col-2">
            <li>
              <a
                href="https://www.linkedin.com/in/t-h-arjun-b39b17190"
                title="LinkedIn"
                target="_blank"
                class="type-white"
                >LinkedIn</a
              >
            </li>
            <li>
              <a
                href="https://www.instagram.com/arjunth2001"
                title="Instagram"
                target="_blank"
                class="type-white"
                >Instagram</a
              >
            </li>
          </div>
          <div class="col-2">
            <li>
              <a
                href="https://www.facebook.com/arjunth2001/"
                title="Facebook"
                target="_blank"
                class="type-white"
                >Facebook</a
              >
            </li>
            <li>
              <a
                href="https://github.com/arjunth2001"
                title="Github"
                target="_blank"
                class="type-white"
                >Github</a
              >
            </li>
          </div>
          <div class="col-2">
            <li>
              <a
                href="https://t.me/arjunth2001"
                title="Telegram"
                target="_blank"
                class="type-white"
                >Telegram</a
              >
            </li>
            <li>
              <a
                href="https://www.deviantart.com/arjunth2001"
                title="DeviantArt"
                target="_blank"
                class="type-white"
                >DevianArt</a
              >
            </li>
          </div>
          <div class="col-2 hidden-sm"></div>
        </div>
      </div>
    </section>
    <section class="basic footer">
      <div class="container">
        <div class="row">
          <div class="col-3">
            <p class="label type-white">Why not checkout out my</p>
            <p>
              <a href="/work.html" title="Work" class="heavy type-white"
                >Work</a
              >
            </p>
            <p>
              <a href="/art.html" title="Art" class="heavy type-white">Art</a>
            </p>
            <p>
              <a href="/blog" title="Blog" class="heavy type-white">Blog</a>
            </p>
          </div>
          <div class="col-3">
            <p class="label type-white">
              Some stuff about me if that interests you...
            </p>
            <p>
              <a href="/about.html" title="About" class="heavy type-white"
                >About me</a
              >
            </p>
          </div>
          <div class="col-3">
            <p class="label type-white">Read my</p>
            <p>
              <a
                href="https://docs.google.com/document/d/e/2PACX-1vSw_RvKn9CwXg1b1LFtIRGDaaZ7tOYY-d4DVqwuBo9ZHYbxtAtjkdlTGRZBVWEU1tkox6gzkosc3r16/pub"
                title="Resume"
                target="_blank"
                class="heavy type-white"
                >Resume</a
              >
            </p>
          </div>
          <div class="col-3">
            <p class="label type-white">
              Give the CLI version of this website a visit
            </p>
            <p>
              <a href="/cli.html" title="CLI" class="heavy type-white">CLI</a>
            </p>
          </div>
        </div>
      </div>
    </section>
  </body>
</html>
